.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.09;
  }
}

@media (max-width: 320px) {
  .place__title {
    padding: 0 16px;
    font-size: 32px;
  }
}

