.cover__title {
  max-width: 560px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  position: relative;
  z-index: 1;
}

@media (max-width: 650px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}

